<!--<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">-->

<head>
  <title>DIY or NOT</title>
</head>
<body>
<h3> Thank you for your order </h3><br/>
<p>We appreciate your business.  Your order will ship within 1-2 working days.
</p><br/>






<p>Click<%= link_to 'here', root_path %>to return to our Home Page</p>







</body>
</html>