<div class="order_summary">
  <fieldset>
    <legend>Checkout</legend>
    <%= render @cart %>
      </fieldset>
</div><br/>

<div class="ordernew">
  <fieldset>
    <legend>Please Enter Your Details</legend>
    <%= render 'form' %>
  </fieldset>
</div>

