// Place all the styles related to the projectmain controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#diyhead {
  padding: 10px;
  border-bottom: 2px solid;
  color: #eaeaea;
  width:100%;

}
#diyhead h1 {font: small-caps 50px/30px "Times New Roman", serif;
  color: #282;
  text-align: right;
  margin-right: 40%;
  margin-top: 1em;
  width:100%;
}

 #diyhead ~ p{text-align: center;
              font: small-caps 15px/15px "Times New Roman", serif;
              color:black;
              margin-top: 3em;
              margin-bottom: 3em;}
#Leftcolumn{

  float: left;
  width: 250px;
  height: 450px;
  margin-left: 20%;
  margin-right: 5%;

  bottom: 0;
  left:0;
  background: #eaeaea;
}










