<%= provide(:title, 'Add Product') %>
<h1 id="change_color" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
    xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">Add Product</h1>


<%= render 'form' %>

<%= link_to 'Back', products_path %>

